h1,h2,h3,h4,h5,h6,a{
     font-family: 'Rubik', sans-serif;;
}
body,p,span{
    font-family: 'Roboto', sans-serif;
}

body .btn-primary{
    background-color: #E83B3E !important;
    border-color: #E83B3E;
    padding: 10px 51px;
    margin-top: 18px;
    position: relative;
    z-index: 1;
    transition: 1s;
    
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    z-index: -1;
    transform: scaleX(0);
    transition: .4s;
    transform-origin: left;
   
}
body .btn-primary:hover::after{
      border-color: #111;
      width: 100%;
      transform: scaleX(1);

}
.bg-color{
    background-color: #F9FAFB;
}
/* began css */
.main-header{
    background:white;
}
.main-header .container-fluid{
    max-width: 1450px;
}
/* menu css */
ul.primary-menu{
    width: 735px;
    padding-left: 0;
}
ul.primary-menu li{
    
}
ul.primary-menu li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #111;
    text-transform: capitalize;
    font-weight: 400;
}
ul.primary-menu li a :hover{}

/* dropdown menu css */
.primary-menu li{
    position: relative;
    display: flex;
}
.primary-menu li ul{
    position: absolute;
    left: 0;
    top: 120%;
    width: 200px;
    background: white;
    box-shadow: 5px 5px 5px rgb(248, 245, 245);
    opacity: 0;
    visibility: hidden;
    transition: .8s;
    transform: scaleY(0);
    transform-origin: bottom center;
    padding-left: 0;
}
.primary-menu li:hover ul{
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
ul.primary-menu li ul li {
    border-bottom: 1px solid #dddd;
}
ul.primary-menu li ul li a{
    font-size: 18px;
}
ul.primary-menu li ul li a:hover{}


.header-info{}
.header-search{
    width: 60px;
    text-align: center;
    margin-top: 28px;
    font-size: 19px;
    padding: 0px 6px;
    border-right: 1px solid #dddd;

}

.headr-call{
    width: 200px;
    text-align: center;
}
.header-call-icon{
    margin-left: 14px;
    margin-top: 30px;
    font-size: 20px;
    color: #E85169;
}
.header-call-info{
    margin-top: 15px;
    color: #7A6060;
}
.header-call-info a{
    color: #111;
    
}
.header-button a{
    width: 188px;
    font-size: 17px;
}
/* banner css */
.banner-section{
    background: url(image/main-banner2.jpg) no-repeat center;
    background-size: cover;
    height: 792px;
}
.banner-text{
    margin-top: 256px;
    width: 623px;
}
.banner-text h6{
    color: #E74B4A;
}
.banner-text h1{
    font-size: 52px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 20px;
}
.banner-text p{
    font-size: 19px;
    color: #7A6060;
}
.social-icon{
    margin-top: 111px;

}
.social-icon ul{
    list-style: none;
}
.social-icon ul li{}
.social-icon ul li span{
    margin-right: 74px;
    position: relative;
}
.social-icon ul li span::before{
    content:"";
    position: absolute;
    right: -66px;
    top: 10px;
    width: 52px;
    height: 1px;
    background-color: #111;
}
.social-icon ul li a{
    color: #111;
    padding: 12px;
}
.social-icon ul li a:hover{
    color: #E83B3E;
}
/* advertisement css */
.advertisement{
    border-bottom: 1px solid #ddd;
    height: 233px;
}
ul.advertise-list{
    list-style: none;
}
ul.advertise-list li{
    padding: 40px;
    margin-top: 45px;
}
ul.advertise-list li img{}
.banner-text ul{
    list-style: none;
}
.banner-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    padding: 6px;
    margin-right: 3px;
    color: #E83B3E;
}
.company-profile{
    margin-top: 206px;
    position: relative;
}
.company-profile-logo{
    background: url(image/shape.png) no-repeat  ;
    background-size: contain;
    position: absolute;
    right: 30px;
    bottom: 22px;
    padding: 39px 20px;

}
.company-profile-logo h2{
    font-size: 35px;
    color: #E83B3E;
    margin-left: 41px;
}
.company-profile-logo span{
    font-size: 15px;
}
.company-text{
    margin-top: -160px;
}
/*  why people choose part */
.people-img{
    position: relative;
}
.people-img img{
    
}
.people-img span{
    position: absolute;
    /* right: 0px; */
    /* top: 0; */
    bottom: 45px;
    right: 251px;
    font-size: 68px;
    color: #E83B3E;
    background: white;
    width: 100px;
    height: 100px;
    /* line-height: 106px; */
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;

}
.people-img span::before{
    content:"";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: #E83B3E;
    border-radius: 50%;
    animation-name: video;
    animation-duration: .8s;
    animation-iteration-count: infinite;

}
@keyframes video{
    0%,30%{ transform: scale(0);

        opacity: 1;
    }
    75%{ transform: scale(1.5);
        opacity: .7;
    }
    100%{ transform: scale(2);
        opacity: 0;
    }
    
}
.people-img span i{
    
}
.circle-bg{
    position: relative;
    overflow: hidden;
    transition: .4s;
}
.circle-bg::before{
    content:"";
    position: absolute;
    top: -112px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 70%;
    border-radius: 50%;
    background: #FDEBEB;
}
.circle-bg:hover .percentage-icon{
    background:#E83B3E ;
    

}
.circle-bg:hover{
    transform: translateY(-10px);
}
.circle-bg:hover .percentage-icon i{
    color: white;
}
.choice-item{
    background-color: white;
    padding: 34px;
    

}

.percentage-icon{
    background: white;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.percentage-icon i{

    margin-top: 43px;
    font-size: 30px;
    color: #E83B3E;
}
.why-choose-item{
    margin-top: 237px;
} 
.margin-last{
    margin-bottom: -30px;
}